body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: repeating-radial-gradient(red, rgb(255, 255, 0), rgb(0, 0, 255));
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4%;
}

header:hover{
    background: repeating-radial-gradient(rgb(25, 0, 255) , rgb(255, 102, 0), rgb(0, 255, 13)) 20%;
    border-radius: 4%;
}
.about-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
}

p {
    line-height: 1.6;
    color: blue;
    font-weight: bold;
}

a{
    text-decoration: underline;
    background-color: pink;
    padding: 7px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

a:hover{
    text-decoration:none;
    background-color: orangered;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;

}

footer{
    text-align: center;
    color: rgb(0, 124, 124);
    padding: 100px 8px 5px 5px;
}
footer p{
    color: aqua;
}